<h1><%= @machine.location %> Vending Machine</h1>

Snacks
<% @machine.snacks.each do |snack| %>
  <div id="snack-<%= snack.id%>">
    <ul><%= snack.name %>: $<%= snack.price %>  
  </div>
<% end %>

<p>Average Price: $<%= @machine.average_price %></p>

<%= form_with url: "/machines/#{@machine.id}/snacks", method: :post, local: true, data: { turbo: false } do |form| %>
  <%= form.label :snack_id %>
  <%= form.text_field :snack_id %>
  <%= form.submit "Submit" %>
<% end %>

<% if flash[:error] %>
  <p><%= flash[:error] %></p>
<% end %>
<% if flash[:success] %>
  <p><%= flash[:success] %></p>
<% end %>